body {
  background-color: Bisque;
}

h1 {
  color: RoyalBlue;
  margin-left: 200px;
  }

body {
  color: Slateblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
